[submodule "third-party/emsdk"]
	path = third-party/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "third-party/dishtiny"]
	path = third-party/dishtiny
	url = https://github.com/mmore500/dishtiny.git
	branch = incoming
